@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');


.App {
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans', sans-serif;
  height: 100vh;
  }
  
.header{
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  padding: 20px 15px;
  background-color: #eaeaea;
}

.page{
  display: flex;
  width: 100vw;
  height: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  padding-top: 4px;
  padding-bttom: 4px;
  height: 100%;
  width: 250px;
  background-color: #eaeaea;
}

  
li{
  display: flex;
  align-items: center;
  cursor: pointer;
}

a{
  text-decoration: none;
  color: black;
}
a:visited{
  color: inherit;
}
a:hover{
  text-decoration: underline;
}

a.active {
  color: blue;
}

.w-20{
  width: 20px;
}

.mb-5{
  margin-bottom: 5px;
}


ul{
  padding-left: 15px;
}


ul.collapsed {
  height: 0;
  display: none;
  transition: all 0.4s ease-out;
}

ul.expanded {
  max-height: 500px;
  transition: max-height 1.25s ease-in;
}

ul.show {
  height: auto;
  display: block;
}

.menu > p {
  font-size: 2rem;
}

.main {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.main .loading {
  position: absolute;
  width: inherit;
  height: 100%;
  z-index: 10;
  background-color: #eaeaea;
  opacity: 0.95;
}